.section-title {
  margin-top: 56px;
}

.section-text {
  width: 85%;
  margin: 56px auto 0 auto;

  p {
    text-align: justify;
  }
}
.section-video {
  display: flex;
  justify-content: center;
  margin-top: 56px;
}